:root {
	--main: #7b3483;
	--dark-1: #434053;
	--dark-2: #302f41;
	--ligth-2: #ccbed0;
	--ligth-2: #878690;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
	height: 100vh;
	background-color: var(--dark-2);
}